/* CALCULADORA */

#secao-calculadora{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f8edeb;
}

#fonte-calculadora{
    font-size: small;
    padding-top: 20px;
}

#texto-calculadora{
    width: 50%;
}

#titulo-calculadora{
    padding-bottom: 20px;
}

.calculadora {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f8edeb;
    border-radius: 5px;
    text-align: center;
}

label {
    display: block;
    margin-bottom: 10px;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

#calcular {
    background-color: #B5838D;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    cursor: pointer;
}

#resultado {
    margin-top: 20px;
    font-weight: bold;
    width: 100%;
}
  