/* DROPDOWN DE CONTEÚDO */

.dropdown {
    position: relative;
    background-color: #f8edeb;
    padding-top: 30px;
    padding-left: 50px;
    padding-bottom: 30px;
}

.botao-dropdown {
    font-weight: bold;
    border: none;
    padding-bottom: 20px;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
    text-decoration: underline;
    cursor: pointer;
}


.conteudo-dropdown {
    display: none;
    padding: 10px;
    left: 0;
    width: 100%;
    line-height: 30px;
    background-color: #f8edeb;
    text-indent: 40px;
    text-align: justify;
}

.conteudo-dropdown p {
    margin: 0;
}
